@font-face {
    font-family: 'Kartrider Kor';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-Medium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-Medium.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Kartrider Kor';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-Bold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Kartrider Kor';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-ExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-ExtraBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-ExtraBold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KartriderKor/KartriderKor-ExtraBold.ttf') format('truetype');
}
